@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap");
/*! footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --cyan: hsl(176, 50%, 47%);
  --d_cyan: #147b74;
  --d_gray: hsl(0, 2%, 69%);
  --bg_color: rgb(236, 233, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  letter-spacing: 1.4;
}

/*utilities*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.btn {
  max-width: 300px;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.btn_primary {
  background-color: var(--d_cyan);
  color: white;
}
.btn_secondary {
  background-color: var(--cyan);
  color: white;
}
.btn_idle {
  background-color: var(--d_gray);
  color: white;
}

.wrapper {
  max-width: 1440px;
  background-color: rgb(248, 246, 246);
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
}

/** header style */
header {
  background-image: url(/images/image-hero-desktop.jpg);
  height: 300px;
  padding: 30px 100px;
}

.menu {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu img {
  width: 120px;
  height: 20px;
}

.menu ul {
  display: flex;
  gap: 20px;
}
.menu ul li {
  display: block;
}
.menu ul li a {
  font-size: 0.9em;
  color: rgb(247, 243, 243);
}
.menu ul li a:hover {
  color: white;
}
/** end header style*/

/*? main style*/
main {
  max-width: 600px;
  margin: auto;
  margin-top: -40px;
}
.bookmark {
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.bookmark .master {
  position: absolute;
  top: -30px;
}
.book_img {
  display: none;
}
.book_img.active {
  display: block;
}
.heading {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.lead {
  font-size: 0.8em;
  color: var(--d_gray);
  margin-bottom: 10px;
  line-height: 1.45;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.buttons a:last-child {
  background-color: var(--bg_color);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
}

.buttons a:last-child .book {
  color: var(--d_gray);
  max-width: 200px;
  padding: 0 20px 0 0;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.buttons a:last-child img {
  height: 46px;
}

/*! stats section*/
.stats {
  min-height: 150px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.blocks {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.block:nth-child(2),
.block:nth-child(3) {
  border-left: 0.1px solid var(--bg_color);
  padding: 0px 40px;
}

.block span {
  display: block;
  font-weight: 800;
  font-size: 1.3em;
  padding-bottom: 5px;
}

.stats .progress {
  width: 100%;
  height: 10px;
  background-color: var(--bg_color);
  border-radius: 5px;
  position: relative;
}

.stats .progress::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 10px;
  background-color: var(--cyan);
  border-radius: 5px;
}

/*? About section*/

.about {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.about h4,
.back_project h4 {
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.4;
}
.about .lead,
.back_project .lead {
  margin-bottom: 30px;
}

.about .pricing,
.back_project .pricing {
  border: 1px solid var(--bg_color);
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.pricing .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.pricing .title h5,
.back_project .pricing .title h5 {
  font-weight: 600;
  font-size: 0.9em;
}

.pricing .title a {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--d_cyan);
}

.pricing .s_reward {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pricing .s_reward .lead .big {
  font-size: 1.8em;
  font-weight: 800;
  color: black;
}

.pricing:last-child .title h5 {
  color: var(--bg_color);
}

.pricing:last-child .title a {
  color: var(--cyan);
}
.pricing:last-child .s_reward .lead .big {
  color: var(--bg_color);
}

/*! Back this section*/
.back_project {
  display: none;
  min-width: 600px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.2);
}
.back_project .pricing {
  gap: 20px;
  display: grid;
  grid-template-columns: 20px auto;
}
.back_project .pricing .title {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 0;
}
.back_project .pricing .title .lead {
  margin-bottom: 0;
}

.title .pledge {
  display: flex;
  gap: 20px;
  width: 100%;
}
.title .pledge a {
  color: var(--d_cyan);
}
.pledge h5:hover {
  color: var(--cyan);
  cursor: pointer;
}
.title h5:hover {
  color: var(--cyan);
  cursor: pointer;
}
.back_project .title .pledge p {
  margin-left: auto !important;
}

.pledge .lead .big {
  font-size: 1.6em;
  font-weight: 800;
  color: black;
  margin-top: -5px;
}
.pricing:last-child .pledge .lead .big {
  color: var(--bg_color);
}

.pricing .choose {
  border-radius: 50%;
}

.radio_btn {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radio_btn input:checked + .checkmark {
  width: calc(100% - 6px);
  height: 10px;
  background-color: var(--cyan);
  border-radius: 50%;
}

.radio_btn input {
  display: none;
}

.close_backing {
  width: 14px;
  padding: 3px;
  background: var(--bg_color);
  position: absolute;
  right: 20px;
  top: 24px;
  cursor: pointer;
}
.close_backing:hover {
  background: black;
}

.enter_pledge {
  grid-column: 1/3;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid var(--bg_color);
  position: relative;
  display: none;
}

.enter_pledge span {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--bg_color);
  letter-spacing: 0.02em;
}

.enter_pledge input {
  padding: 10px 10px;
  width: 40px;
  border-radius: 30px;
  height: 40px;
  margin-right: 10px;
  outline: none;
  position: absolute;
  top: 2px;
  right: 8px;
  border: none;
  font-weight: 800;
}
.enter_pledge .amount .pledge_input {
  padding: 10px 10px;
  width: 81px;
  border-radius: 30px;
  height: 47px;
  margin-right: 10px;
  outline: none;
  border: 1px solid var(--bg_color);
  position: absolute;
  top: 17px;
  right: 120px;
}

/*? thanks section*/
.thanks {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.2);
}
.thanks svg {
  margin-bottom: 20px;
}
.thanks h5 {
  margin-bottom: 10px;
}
.thanks p {
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 15px;
}

/* *hidden menu*/
.mobile_menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.2);
}
.mobile_menu li {
  padding: 20px 10px;
  border-bottom: 1px solid var(--bg_color);
}
.mobile_menu li a {
  color: rgb(53, 52, 52);
  font-weight: 600;
  margin-left: 20px;
}
/*! media queries*/
.hamburger {
  display: none;
}
.close_icon {
  display: none;
}
.control {
  display: none;
}
@media screen and (max-width: 630px) {
  .control {
    display: block;
    cursor: pointer;
  }
  .active1 {
    display: block;
  }
  header {
    background: url(/images/image-hero-mobile.jpg) left;
    height: 250px;
    padding: 30px 30px;
  }
  main {
    max-width: 500px;
  }

  .menu ul {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  main {
    max-width: 350px;
  }
  .buttons span {
    display: none;
  }
  .bookmark {
    text-align: center;
  }
  .heading {
    margin-top: 5px;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .stats .blocks {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
  }
  .about .lead,
  .back_project .lead {
    margin-bottom: 15px;
  }
  .about .pricing,
  .back_project .pricing {
    margin: 10px 0;
    padding: 15px 20px;
  }
  .pricing .title {
    flex-direction: column;
    align-items: flex-start;
  }
  .pricing .s_reward {
    flex-direction: column;
  }
  .pricing .title h5 {
    margin-bottom: 5px;
  }
  .block:nth-child(2),
  .block:nth-child(3) {
    border-left: none;
  }
  .back_project {
    min-width: 350px;
    top: 560px;
  }
  .back_project h4 {
    margin-bottom: 10px;
  }
  .title .pledge a {
    font-size: 0.8rem;
  }
  .enter_pledge {
    flex-direction: column;
    padding-top: 5px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .amount {
    display: flex;
    width: 300px;
    position: relative;
  }
  .enter_pledge .amount .pledge_input {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
